.mmp-debug {
  overflow: hidden
  position: fixed
  left: 10px
  bottom: 10px
  pointer-events: none
  z-index: 1000

  li {
    display: block
    text-align: left
    font-family: Courier
    font-size: 11px
    text-transform: uppercase
    line-height: 1.25em

    .mmp-debug__key {
      font-weight: bold
    }
  }
}
