/* scheherazade-regular - latin */
@font-face {
  font-family: 'Scheherazade';
  font-style: normal;
  font-weight: 400;
  src: url(asset_url_string('assets/fonts/scheherazade-v12-latin-regular.eot')); /* IE9 Compat Modes */
  src: local('Scheherazade'), local('Scheherazade-Regular'),
       url(asset_url_string('assets/fonts/scheherazade-v12-latin-regular.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       url(asset_url_string('assets/fonts/scheherazade-v12-latin-regular.woff2')) format('woff2'), /* Super Modern Browsers */
       url(asset_url_string('assets/fonts/scheherazade-v12-latin-regular.woff')) format('woff'), /* Modern Browsers */
       url(asset_url_string('assets/fonts/scheherazade-v12-latin-regular.ttf')) format('truetype'), /* Safari, Android, iOS */
       url(asset_url_string('assets/fonts/scheherazade-v12-latin-regular.svg#Scheherazade')) format('svg'); /* Legacy iOS */
}

/* lato-medium - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url(asset_url_string('assets/fonts/asset_url_string.eot')); /* IE9 Compat Modes */
  src: local('Scheherazade'), local('Scheherazade-Regular'),
       url(asset_url_string('assets/fonts/asset_url_string.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       url(asset_url_string('assets/fonts/asset_url_string.woff2')) format('woff2'), /* Super Modern Browsers */
       url(asset_url_string('assets/fonts/asset_url_string.woff')) format('woff'), /* Modern Browsers */
       url(asset_url_string('assets/fonts/asset_url_string.ttf')) format('truetype'), /* Safari, Android, iOS */
       url(asset_url_string('assets/fonts/asset_url_string.svg#Scheherazade')) format('svg'); /* Legacy iOS */
}