/* lato-medium - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: asset_url('assets/fonts/Lato-Medium-webfont.eot'); /* IE9 Compat Modes */
  src: local('Scheherazade'), local('Scheherazade-Regular'),
       asset_url('assets/fonts/Lato-Medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       asset_url('assets/fonts/Lato-Medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       asset_url('assets/fonts/Lato-Medium-webfont.woff') format('woff'), /* Modern Browsers */
       asset_url('assets/fonts/Lato-Medium-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       asset_url('assets/fonts/Lato-Medium-webfont.svg#Scheherazade') format('svg'); /* Legacy iOS */
}