/* lato-v14-latin-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: asset_url('assets/fonts/lato-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato'), local('lato-v14-latin-700'),
       asset_url('assets/fonts/lato-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       asset_url('assets/fonts/lato-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       asset_url('assets/fonts/lato-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       asset_url('assets/fonts/lato-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       asset_url('assets/fonts/lato-v14-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}