section#example-2 {
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background: #2C296E;
  display: flex;
  align-items: center;
  // align-content: center;
  justify-content: center;
  flex-direction: column;
  &.hidden {
    display: none
  }
  .google-btn{
    margin-top: 10px;
  }

}