<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <title>Example</title>
    <link rel="stylesheet" href="<%= asset_url('submodules/example/styles/index.styl') %>">
  </head>
  <body>
    <div id="app"></div>
    <script src="<%= asset_url('submodules/example/scripts/index.js') %>"></script>
  </body>
</html>
