---
layout: layouts/layout.html.ejs
title: Home
locale: <%= infos.locale %>
---
<div id="app">
  <desktop-device v-if="store.isDesktop"></desktop-device>
  <mobile-device v-if="store.isMobile"></mobile-device>
</div>